/* Drink mode: Normal */
.beer {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #FFD700;
}

.water {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #AFEEEE;
}

.juice {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #FFA500;
}

.milk {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #FFF5EE;
}

.absinthe {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #00FA9A;
}

.cendol {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #6B8E23;
}

/* Drink mode: Silly */

.lava {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #CF1020; 
}

.ink {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #111111;    
}

.oil {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #F0E68C; 
}

.seawater {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #00FFFF; 
}

.slime {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #00FF00; 
}

.gasoline {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #FF7F50; 
}

/* Other */

.beer-container {
    height: 200px;
    width: 200px;
    position: relative;
}
.beer-container img {
    z-index: 100;
    position: absolute;
}
.main-button{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    z-index: 1000;
}
.main-button button {
    width: 100%;
    padding: 15px;
}
img.gravatar {
    border-radius: 50%;
    top: 40px;
    left: 74px;
}
.glass{
    display: inline-block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}