<!-- User setup -->
<div *ngIf="!group" class="form from-start">
    <div class="container">
        <div class="form-group">
            <label>Gravatar email (or display name)</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label>Game Mode</label>
            <input type="text" class="form-control" name="key" [(ngModel)]="groupKey" placeholder="Game">
        </div>
        <div class="form-group">
            <label>Drink Type</label>
            <input type="text" value="01" placeholder="01">
        </div>
        <button (click)="createOrJoin()" class="btn btn-primary">Create or Join Game</button>
    </div>
</div>

<!-- Game selection -->
<div *ngIf="group">
    <div class="glass" *ngFor="let glass of group.glasses">
        <div class="beer-container">
            <img src="/images/beer.png" />
            <div class="beer" [style.height]="glass.value+'%'"></div>
            <img [src]="getGravatarByEmail(glass.email)" alt="#" width="44" height="44" class="gravatar">
        </div>
    </div>

<!-- Game buttons -->
    <div class="main-button" *ngIf="group.hasStarted && !group.hasFinished">
        <button (click)="drink()">Hooch!</button>
    </div>
    <div class="main-button" *ngIf="!group.hasStarted && _hubConnection.connection.connectionId == group.owner">
        <button (click)="start()">Let's Hooch!</button>
    </div>

<!-- End of Game message -->   
    <div class="main-button" *ngIf="group.hasFinished">
        Drinking is over!!! Winner is
        <b>{{group.winnerEmail}}</b>. Click
        <a (click)="clear()">here</a> to start over.
    </div>
</div>